@import "@styles/theme.scss";

.DCard{
  height: 100%;
  &-swiper{
    &-item{
      &-view{
        width: 95%;
        height: 220px;
        &-img{
          width: 100%;
          height: 180px;
        }
        &-text{
          border: 2px dashed $font-color-effect;
          height: 172px;
          font-family: $font-family;
          font-size: $font-size-effect;
          line-height: $line-height-effect;
          color: $font-color-effect;
          text-align: center;
          line-height: 172px;
        }
      }
    }
  }
}
