@import "@styles/theme.scss";

.Download{
  font-family: $font-family;
  &-text1{
    padding: 40px 24px 29px 24px;
    font-size: $font-size-list;
    color: $font-color;
    line-height: $line-height-list;
    font-weight: bolder;
  }
  &-text2{
    padding: 0 24px;
    font-size: $font-size-effect;
    line-height:$line-height-effect;
    color: $gray;
  }
  &-img{
    margin: 40px 24px 0 24px;
    height: 244px;
    background: url(../../assets/download1.png);
    background-size: 100% 100%;
  }
  &-imgasd{
    width: 320px;
    height: 312px;
    margin: 60px auto 0 auto;
    background: url(../../assets/downaishandong.png);
    background-size: 100% 100%;
  }
}