@import "@styles/theme.scss";

.SubscribeAdd{
  &-content{
    display: flex;
    justify-content: space-between;
    // height: 2000px;
    &-left{
      width: calc(100vw - 540px);
      height: 500px;
      overflow-y: auto;
    }
    &-right{
      width: 540px;
      height: calc(100vh - 88px);
      overflow-y: auto;
    }
  }
  &-tip{
    padding: 24px;
    background: $font-color-background;
    &-text{
      font-size: $font-size-list;
      line-height: $line-height-list;
      color: $font-size;
      &-download{
        color: $blue;
      }
    }
  }
}