@import "@styles/theme.scss";

.DListTest{
  background: $white;
  padding: 28px 24px 36px 24px;
  font-family: $font-family;
  border-top: 20px solid $background;
  &:first-of-type{
    border-top: 0;
  }
  &-title{
    font-size: 32px;
    line-height: 40px;
    color: $font-color;
    font-weight: bolder;
  }
  &-text{
    margin-top: 10px;
    font-size: $font-size-effect;
    line-height: $line-height-effect;
    color: $font-color-effect;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-of-type{
      margin-top: 20px;
    }
    &-evaluate{
      padding: 3px 22px;
      border: 1px solid #979797;
      border-radius: 4px;
    }
  }
  &-padding{
    padding-top: 20px;
  }
  &-rate{
    padding: 15px 0 20px 0;
    .at-rate__icon--on{
      color: $blue
    }
  }
}
