@import "./mixins.scss";

$font-size: 30px;
$font-size-effect: 24px;
$font-size-tip: 26px;
$font-size-list: 28px;

$font-color:#333333;
$font-color-effect: #999999;
$font-color-tip: #CCCCCC;
$font-color-list: #333333;
$blue: #1679FF;
$font-color-background: #EEEEEE;
$background: #f5f5f5;
$background-tip: #e5e5e5;
$white: #FFFFFF;
$list: #dddddd;

$line-height: 42px;
$line-height-effect: 33px;
$line-height-tip: 37px;
$line-height-list: 40px;

$font-family: PingFangSC, PingFangSC-Regular;

$font-weight: 400;
