@import "@styles/theme.scss";

.DSite{
  width: 100%;
  padding: 23px 24px 20px 24px;
  display: flex;
  justify-content: left;
  align-items: center;
  &-text{
    color: $font-color;
    font-family: $font-family;
    line-height: 45px;
    font-size: 32px;
    margin-right: 8px;
  }
  &-site{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-area{
      z-index: 1;
      width: 212px;
      background: $background;
      padding: 17px 8px 15px 8px;
      margin-right: 24px;
      margin-bottom: 24px;
      border-radius: 8px;
      text-align: center;
      font-size: $font-size;
      line-height: $line-height;
      color: $font-color;
    }
    &-none{
      background: #ffffff;
    }
    &-active{
      color: $blue;
      background: url(../../assets/siteActive.png);
      background-size: 100% 100%;
    }
  }
  .layout-header{
    background: $white;
    padding: 20px 0;
    font-family: $font-family;
    font-size: $font-size-list;
    line-height: $line-height-list;
    margin: 0 24px;
    border-bottom: 1px solid $font-color-background;
  }
  .layout-header__btn-close{
    display: none;
  }
  .layout-body {
    height: 600px;
    padding: 24px 0 0 24px;
  }
}
