@import "@styles/theme.scss";

.Opinion{
  height: 100vh;
  background: $background;
  &-border{
    height: 36px;
  }
  &-tip{
    padding: 24px;
    text-align: center;
    font-family: $font-family;
    font-size: $font-size-list;
    line-height: $line-height-list;
    color: $font-color-effect;
  }
  &-tel{
    text-align: center;
    font-family: $font-family;
    font-size: $font-size-list;
    line-height: $line-height-list;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    &-number{
      margin: 0 6px;
    }
  }
}