@import "@styles/theme.scss";

.CatchView{
  font-family: $font-family;
  &-img{
    margin: 0 auto;
    width: 280px;
    height: 280px;
    background: url(../../assets/catch.png);
    background-size: 100% 100%;
    margin-top: 160px;
  }
  &-text{
    text-align: center;
    padding: 29px 24px 24px 24px;
    line-height: $line-height-title;
    font-size: $font-size-title;
    color: $font-color;
  }
  &-btn{
    width: 144px;
    margin: 0 auto;
    line-height: $line-height-effect;
    font-size: $font-size-effect;
    padding: 8px 24px;
    text-align: center;
    color: $blue;
    border-radius: 25px;
    background: #e7f1ff;
  }
}