@import "@styles/theme.scss";

.Search{
  &-border{
    height: 24px;
  }
  &-title{
    padding: 24px;
    font-family: $font-family;
    color: font-color;
    font-size: $font-size;
    line-height: $line-height;
  }
  &-hot{
    padding: 0px 24px;
    display: flex;
    flex-wrap: wrap;
    &-text{
      padding: 10px 24px;
      font-family: $font-family;
      font-size: $font-size-list;
      line-height: $line-height-list;
      border: 1px solid $font-color-tip;
      border-radius: 30px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}