@import "@styles/theme.scss";

.LogoText{
  font-family: $font-family;
  background: $white;
  padding: 24px;
  &-title{
    line-height: 50px;
    font-size: $font-size-list;
    color: $font-color;
    &-theme{
      font-weight: bolder;
      font-size: 36px;
    }
  }
  &-content{
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    &-icon{
      width: 6px;
      height: 6px;
      background: #d8d8d8;
      border-radius: 50%;
      margin-right: 18px;
    }
    &-text{
      color: $font-color-effect;
      font-size: $font-size-effect;
      line-height: $line-height-effect;
    }
  }
}
